{% block main %}
<link rel="stylesheet" href="../static/style.css">

<header>
    <h2>Total de calorias: {{ total }}</h2>
</header>

<breakfast class="flex-container">
    <h1>Breakfast</h1>
    <div class="item">
        <img id="ic" src="../static/imagens/pao-frances.jpeg" alt="pão frances">
        <h2>Pão Frances</h2>
        <p id="paragraph">Gramas</p>
        <p id="paragraph">{{ pao_frances }}</p>
        <button class="botoes-breakfast">Gerar outro item</button>
    </div>
    <div class="item">
        <img id="ic" src="../static/imagens/leite-integral.jpeg" alt="leite integral">
        <h2>Leite Integral</h2>
        <p id="paragraph">Gramas</p>
        <p id="paragraph">{{ leite_integral }}</p>
        <button class="botoes-breakfast">Gerar outro item</button>
    </div>
    <div class="item">
        <img id="ic" src="../static/imagens/banana.jpeg" alt="banana">
        <h2>Banana</h2>
        <p id="paragraph">Gramas</p>
        <p id="paragraph">{{ banana }}</p>
        <button class="botoes-breakfast" id="breakfast">Gerar outro item</button>
    </div>
</breakfast>

<lanche_manha class="lanche-manha">
    <h1 id="lanche-manha-h1">Lanche</h1>
    <div class="lanche-manha-div">
        <img id="ic" src="../static/imagens/amendoa.jpeg" alt="amendoas">
        <h2>Amêndoas</h2>
        <p id="lanche-manha-paragraph">Gramas</p>
        <p id="lanche-manha-paragraph">{{ amendoas }}</p>
        <button  class="botoes" id="lanche-manha">Gerar outro item</button>
    </div>
</lanche_manha>

<almoco class="almoco">
    <h1 id="almoco-h1">Almoço</h1>
    <div id="arroz">
        <img  id="ic" src="../static/imagens/arroz-branco.jpg" alt="arroz branco">
        <h2>Arroz Branco</h2>
        <p>Gramas</p>
        <p>{{ arroz_branco }}</p>
        <button class="botoes" id="almoco">Gerar outro item</button>
    </div>
    <div id="feijao">
        <img id="ic" src="../static/imagens/feijao-carioca.jpeg" alt="feijao carioca">
        <h2>Feijão Carioca</h2>
        <p>Gramas</p>
        <p>{{ feijao_carioca }}</p>
        <button class="botoes" id="almoco">Gerar outro item</button>
    </div>
    <div id="carne-vaca">
        <img id="ic" src="../static/imagens/carne-de-vaca.jpg" alt="carne de vaca">
        <h2>Carne de vaca</h2>
        <p>Gramas</p>
        <p>{{ carne_vaca }}</p>
        <button class="botoes" id="almoco">Gerar outro item</button>
    </div>
    <div id="batata-doce-almoco">
        <img id="ic" src="../static/imagens/batata-doce.jpeg" alt="batata doce">
        <h2>Batata Doce</h2>
        <p>Gramas</p>
        <p>{{ batata_doce }}</p>
        <button class="botoes" id="almoco">Gerar outro item</button>
    </div>
</almoco>

<lanche_tarde class="lanche-tarde">
    <h1 id="lanche-tarde-h1">Lanche</h1>
    <div id="thick-skull">
        <img id="ic" src="../static/imagens/pao-de-forma.jpeg" alt="pao de forma">
        <h2>Pão de forma</h2>
        <p id="paragraph">Gramas</p>
        <p id="paragraph">{{ pao_de_forma }}</p>
        <button class="botoes">Gerar outro item</button>
    </div>

    <div id="zelda">
        <img id="ic" src="../static/imagens/leite-integral.jpeg" alt="leite integral">
        <h2>Leite Integral</h2>
        <p id="paragraph">Gramas</p>
        <p id="paragraph">{{ leite_integral }}</p>
        <button class="botoes">Gerar outro item</button>
    </div>

    <div id="bob">
        <img id="ic" src="../static/imagens/banana.jpeg" alt="banana">
        <h2>Banana</h2>
        <p id="paragraph">Gramas</p>
        <p id="paragraph">{{ banana }}</p> 
        <button class="botoes" id="lanche-tarde">Gerar outro item</button>
    </div>
</lanche_tarde>

<jantar class="flex-container">
    <h1>Jantar</h1>
    <div id="jantar-div">
        <img id="ic" src="../static/imagens/ovo.jpeg" alt="ovo">
        <h2>Ovo Frito</h2>
        <p id="jantar-paragraph">Gramas</p>
        <p id="jantar-paragraph">{{ ovo_frito }}</p>
        <button class="botoes-jantar">Gerar outro item</button>
    </div>

    <div id="jantar-div">
        <img id="ic" src="../static/imagens/macarrao.jpg" alt="macarrao">
        <h2>Macarrão</h2>
        <p id="jantar-paragraph">Gramas</p>
        <p id="jantar-paragraph">{{ macarrao }}</p>
        <button class="botoes-jantar">Gerar outro item</button>
    </div>

    <div id="jantar-div">
        <img id="ic" src="../static/imagens/batata-doce.jpeg" alt="batata doce">
        <h2>Batata Doce</h2>
        <p id="jantar-paragraph">Gramas</p>
        <p id="jantar-paragraph">{{ batata_doce }}</p>
        <button class="botoes-jantar" id="jantar">Gerar outro item</button>
    </div>
</jantar>

<script>
    let buttons = document.querySelectorAll('button');

    for(i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener('click', function() {
            var actual_id = this.id;
            let button = this;

            fetch("/change_photo/" + actual_id)   
            .then(response => response.json())  
            .then(data => {
                

                // Meu código antigo, com um pouco de ajuda da IA
                // let divs = button.parentElement.parentElement.querySelectorAll('div'); 

                // let length = divs.length

                // let dessa_variavel = button.parentElement.querySelector('h2').innerHTML

                // let iteracao = 0; 
                // divs.forEach(div => {
                    //window.alert("Iteração: " + iteracao)
                    //iteracao++;
                    //if (div.querySelector('h2').innerHTML != dessa_variavel){
                        //button.parentElement.querySelector('img').src = data.url;
                        //button.parentElement.querySelector('h2').innerHTML = data.query;
                    //} else {
                        //window.alert("b"); 
                    //}
                //});

                // Solução gerada pela IA porque eu não estava conseguindo resolver

                let divs = button.parentElement.parentElement.querySelectorAll('div'); 

                let itemExists = false; 

                divs.forEach(div => {
                    if (div.querySelector('h2').innerHTML === data.query){
                        itemExists = true;
                    }
                });

                if (!itemExists) {
                    button.parentElement.querySelector('img').src = data.url;
                    button.parentElement.querySelector('h2').innerHTML = data.query; 
                } else {
                    alert('Item já existe. Tente novamente.'); 
                }

                //button.parentElement.querySelector('img').src = data.url;
                //button.parentElement.querySelector('h2').innerHTML = data.query;
            });         
        });
    };
</script>

{% endblock %}